<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- ---------------------------------------------- -->
                    <!-- Styles  -->
  <!-- ---------------------------------------------- -->
  <!-- CSS Style  -->
  <link rel="stylesheet" href="{{ url_for('static', filename="/css/main.css") }}">

    <link rel="icon" href="like.png">
  <!-- Page Title   -->
  <title>TodoList</title>
</head>
<body>
  <!-- start here  -->


    <main class="flex">
      <div class="todoContainer">
          <div class="title">
            <h2 class="title">Todo List</h2>
          </div>
          <div class="todoContent">
            <form method="post" action="{{ url_for('create_todo') }}" class="inputs">
              <input type="text" name="text" placeholder="Exp:Learn React.js" id="input">
            <button type="submit" class="sb-btn" id="btnSubmit">Submit</button>
            </form>
          </div>
          <div class="todoTasks">
            <h3 class="utasks">Your Tasks</h3>
            <ul id="newTask">
              {% for todo in todos %}
              <li class="check">
                {{ todo.text }}
                <div class="btns">
                  <form method="post" action="{{ url_for('delete_todo', id=todo.id) }}">
                    <input type="hidden" name="id" value="{{ todo.id }}">
                    <button type="submit" class="delete-button">x</button>
                  </form>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
      </div>
    </main>
</body>
</html>
